# --------------------

# Node / React

# --------------------

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

build/
dist/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# --------------------

# Python

# --------------------

**pycache**/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
build/
dist/

# Python virtual environments

.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# --------------------

# ML / AI Caches

# --------------------

audio_cache/
.pretrained_models/
huggingface/
*.pt
*.pth
*.ckpt

# --------------------

# Project generated data

# --------------------

uploads/
face_db/
voice_db/
ml_api/uploads/
web/server/uploads/

# --------------------

# Temporary audio/image files

# --------------------

*.wav
*.mp3
*.jpg
*.png

# --------------------

# OS files

# --------------------

.DS_Store
Thumbs.db
ehthumbs.db

# --------------------

# VS Code

# --------------------

.vscode/
*.code-workspace